:root{
    --clr-blue: #0000ff;
    --clr-red: #ff0000;
    --clr-black: #060606;
    --clr-white: #dbd9e4;
    --clr-pa-blue: #030636;
    --clr-pa-red: #be1e2d;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}